//
// Component: Variables
//
// ========================================================================
// example
//$width-sidebar: 344px;



// Global variables
// ========================================================================

//
// Typography
//

$font-family-global: Montserrat, sans-serif;

$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-global: 500;
$font-weight-normal: 400;
$font-weight-light: 300;

$font-size-huge: 22px;
$font-size-xlarge: 20px;
$font-size-large: 18px;
$font-size-global: 16px;
$font-size-small: 14px;
$font-size-xsmall: 12px;
$font-size-tiny: 12px;

$font-size-header-main: 36px;

$font-size-header-xlarge: 32px;
$font-size-header-large: 30px;
$font-size-header-global: 28px;
$font-size-header-small: 26px;
$font-size-header-xsmall: 24px;

//
// Colors
//

// Typography colors

$font-color-global: #000000;
$font-color-primary: blue;
$font-color-secondary: green;
$font-color-tertiary: red;
$font-color-default: #ffffff;
$font-color-muted: gray;

// Background colors

$bg-global: #ffffff;
$bg-global-primary: blue;
$bg-global-secondary: green;
$bg-global-tertiary: red;
$bg-global-default: transparent;
$bg-global-muted: gray;

$bg-button-primary: blue;
$bg-button-secondary: green;
$bg-button-tertiary: red;
$bg-button-default: transparent;
$bg-button-muted: gray;

// Border colors


// Other colors

//
// Other properties
//
//
// Backgrounds
//

//
// Borders
//

//
// Spacings
//

//
// Controls
//

//
// Z-index
//
